body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;
 
     background: url("../images/whiskey-background-image.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    }

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
}

.quotes-container {}

.features-containter {}

/*..............................Block dividers..............................*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--orange {
    background-color: #26a745;
}

.block-divider-short {
    width: 35px;
}

/*..............................Jumbotron..............................*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    scroll-padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

/*..............................Jumbotron..............................*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #d0cac2;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/*Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 25px;
    width: 160px;
}

.btn--green {
    color: white;
    background-color: #26a745;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #0e852a ;
    border-color: #0e852a;
}
