body {
    font-family: 'Roboto', sans-serif;
}

.container-wrapper {}

.container-wrapper--green {
    background-color: #a82828;
    ;
    color: white;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #ecbe2d;
    border-color: #ecbe2d;
}

/*..............................Callout..............................*/

.callout-container {
    height: 100vh;
    background: url("../images/whiskey-background-image.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
}

.quotes-container {}

.features-containter {}

/*..............................Page headers..............................*/

.page-header {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/*..............................Block dividers..............................*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--orange {
    background-color: #a82828;
}

.block-divider--short {
    width: 35px;
    background-color: gray;
}

.block-divider--white {
    background-color: white;
}

/*..............................Content containers..............................*/

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*..............................Navbar..............................*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-nav .dropdown-menu {
    background-color: initial;
}

.navbar .dropdown-item {
    color: white;
}
/*..............................Jumbotron..............................*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #d0cac2;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/*..............................Buttons..............................*/

.btn--cta {
    font-weight: bold;
    border-radius: 25px;
    width: 160px;
}

.btn--green {
    color: white;
    background-color: #a82828;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #ec2a2a ;
    border-color: #ec2a2a;
}

/*..............................Features..............................*/

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #a82828;
}